* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;

}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*img{vertical-align: top;}*/

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}
/*================================*/

/*----------------------*/
.header {
    height: 135px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 135px;
}

._container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__logo {
}

.header__img {
    max-width: 285px;
    max-height: 100px;

}

.header__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.phone__img {
    border-radius: 50%;
    margin: 25px ;
    border: 1px solid #ffffff;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone__image {
    width: 20px;
    height: 20px;
}

.phone__contact {
}
.contact__number a:link{
    color: #ffffff;
}
.contact__number a:visited{
    color: #ffffff;
}

.header__mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mail__img {
    border-radius: 50%;
    margin: 25px ;
    border: 1px solid #ffffff;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail__image {
    width: 25px;
    height: 20px;
}

.mail__email {
}

.email__post {
}
.email__post a:link {
    color: #ffffff;
}
.email__post a:visited {
    color: #fdfdfd;
}
.header__button {
}

.header__btn {
    padding: 13px 35px;
    font-size: 14px;
    line-height: 1.25;
    border: 2px solid #fdfdfd;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: white;

}

/*===============================================*/
.empty{
    color: black;
    max-width: 2000px;
    background-color: white;
    margin-top: 10px;
}
.navbar {

}

.navbar__container {
}

._container {
}

.navbar__list {
    display: flex;
    gap: 50px;
    padding: 0 15px;
}

.list__item {
    padding-top: 15px;
    cursor: pointer ;
    padding-bottom: 15px;
    font-weight: 700;
    font-style: normal;
    color: #000000;

}

.navbar__lang {
}

.lang__item {
}

/*=============================================*/

.swiper {
    margin-top: 10px;
    background: black;
}

.slide1{
    background-image: url("../img/marc-olivier-jodoin-NqOInJ-ttqM-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    padding-left: 224px;

}
.slide2{
    background-image: url("../img/jonas-leupe-dZmNJKFDuVI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    padding-left: 224px;
}
.slide3{
    background-image: url("../img/frederik-lipfert-XY6rifJ8OvA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:700px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    padding-left: 224px;
}
.slider-content{
    background-color: rgb(143 128 128 / 59%);
    padding: 20px 20px;
    border-radius: 10px 100px / 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.slider-title {
    font-weight: 700;
color: white;
    font-size: 24px;

}

.slider-text {
    max-width: 600px;
    font-weight: 700;
    font-size: 20px;
    color: white;

}
.slider-btn{
    padding-left: 30px;
    max-width: 350px;


}
.slider-button {
padding: 15px 15px;
    border-radius: 20px;
}


/*==============================================*/
.news{
    /*background-image: url("../img/marjan-blan-5Ft4NWTmeJE-unsplash.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    border-radius: 0 0 12px 12px;
}
.news__container {
margin: 0 auto;
    max-width: 1400px;

}
.news__title{
    padding-bottom: 50px;

}
.news__title span{
    color: #2A2C1F;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
   border-radius: 30px;
    padding: 20px 15px;
    background-color:rgb(116 116 116 / 50%);
    width: 450px;
}

.news__title {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;

}
.news__title span{
    color: white;
}

.cards__list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;

}
.card__list__item {
    display: flex;
    gap: 30px;
    max-width: 650px;
    height: 660px;
    flex-wrap: wrap;
    background-color: rgba(77, 75, 75, 0.47);
    border-radius: 20px;
}

.item__img img {
   max-width: 650px;
    height: 450px;
    border-radius: 20px;
}

.item__img img:last-child{
    width: 700px;
}

.item__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item__title {
    color: #fcfdfd;
    font-size: 24px;
    line-height: 44px;
    max-width: 650px;
    padding: 0 15px ;
    font-weight: bold;
}

.item__text {
    color: rgba(255, 255, 255, 0.87);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    max-width: 650px;
    padding: 0 15px 20px 15px;
    font-weight: bold;
}
/*=========================================================*/
.info {
}
._car{
    max-width: 400px;
}

.info__container {
    padding-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.icon{
    max-width: 100px;
    max-height: 100px;
}

/*=================================*/
.consultation{
    background-color: #bfc0c3;
}
.consultation__container{
    padding-top: 50px;
    padding-bottom: 50px;

}
.consultation__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.consultation__item {
    display: flex;
    gap: 15px;
    width: 500px;
}

.consultation__img {
    max-width: 50px;
}
.consultation__img img{
    width: 50px;
    height: 50px;
}

.consultation__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}

.consultation__title {
    color: #424A57;
    font-size: 24px;
    line-height: 44px;
}

.consultation__text {
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
/*=================================================*/
.best {
    padding-top: 40px;
    padding-bottom: 40px;
}

.best__container {
    background: rgba(211, 211, 211, 0.91);
    border-radius: 20px;
    padding: 50px 0;
}

._container {
}
.best__subtitle {
  display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    font-size: 28px;
    font-weight: bold;

}
.best__subtitle h1{
    font-weight: bold;
}

.best__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.best__item {
    padding:15px 10px;
    background-color: white;
    width: 300px;
    border-radius: 15px;
    opacity: 0.7;
}

.best__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.best__image {
}

.best__title {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.best__img {
    width: 65px;
    height: 65px;

}

.layer {
    background-color: white;
    display: block;
    align-items: center;
    justify-content: center;
}

.layer__main {
    border-radius: 0 0 12px 12px;
    background: var(--gradient-supersoft, linear-gradient(208deg, #323264 0%, #323264 59.90%, #643E72 100%));
    max-width: 1440px;
    height: 10px;
}

.layer__first {
    max-width: 100%;
    height: 10px;
    flex-shrink: 0;
    border-radius: 0px 0px 12px 12px;
    background: #b6b6b6;
    margin: 0 auto;
}

.layer__second {
    max-width: 99%;
    height: 10px;
    flex-shrink: 0;
    border-radius: 0px 0px 12px 12px;
    background: rgba(182, 182, 182, 0.71);
    margin: 0 auto;
}
.layer__third {
    max-width: 98%;
    height: 10px;
    flex-shrink: 0;
    border-radius: 0 0 12px 12px;
    background: rgba(182, 182, 182, 0.50);
    margin: 0 auto;
}